@font-face {
    font-family: "CyrillicPixel";
    src: url(assets/fonts/CyrillicPixel.ttf);
}
@font-face {
    font-family: "PixelEmulator";
    src: url(assets/fonts/PixelEmulator.ttf);
}
@font-face {
    font-family: "SFPixelate";
    src: url(assets/fonts/SFPixelate.ttf);
}

html{
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    max-height: 100vh;
}
a{
  text-decoration: inherit;
  color: inherit;  
}

/*----- UTILITY AND UNIVERSAL ----*/

#site-container{
    height: 100%;
}
.center-vh{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.client-area{
    min-height: max-content;
}
.game-column{
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 100%;
}
#UI{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 500ms;
}



/*----- PIXEL UI -----*/

.pixel-text-box{
    display: inline-block;
    font-family: "PixelEmulator";
    font-size: .9em;
    width: 50%;
    text-align: center;
    border-radius: 0px;
    border: none;
    text-decoration: none;
    margin: .5em;
    padding: .5em;
    background-color: var(--button-bg);
    color: var(--main-font);
    z-index: 5;

    box-shadow: 
    4px 4px var(--pixel-shadow-inset) inset,
    4px 0px  0px var(--pixel-shadow-bot),
    0px 4px  0px var(--pixel-shadow-right),
    -4px 0px  0px var(--pixel-shadow-left),
    0px -4px  0px var(--pixel-shadow-top),
    0px 4px 10px var(--blue-shadow),
    0px 5px 10px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);
}
.pixel-text-box:hover{
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}
.pixel-text-box:focus{
    outline: -4px solid #aaaaff;
    text-decoration: none;
    filter: brightness(110%);
    z-index: 6;
    box-shadow: inherit,
    0px 0px 20px white,
    0px 0px 20px white,
    0px 0px 20px white;
    animation: pulse-focus 1s  alternate infinite;
}
.pixel-window{
    text-align: center;
    border-radius: 0px;
    border: solid 8px var(--button-bg);
    text-decoration: none;
    margin: .5em;
    padding: .5em;
    background-color: var(--window-bg);
    color: var(--main-font);

    box-shadow: 
    -4px -4px var(--pixel-shadow-inset) inset,
    4px 4px #2224 inset,
    4px 0px  0px var(--pixel-shadow-bot),
    0px 4px  0px var(--pixel-shadow-right),
    -4px 0px  0px var(--pixel-shadow-left),
    0px -4px  0px var(--pixel-shadow-top),
    0px 4px 10px var(--blue-shadow),
    0px 5px 10px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);
}
.pixel-window>.title-bar{
    position: relative;
    display: flex;
    top: -16px;
    margin: -20px 0px 20px -16px;
    width: calc( 100% + 32px );
    padding: 0px;
    height: 3em;
    box-shadow: 
    -4px 0px var(--pixel-shadow-inset) inset,
    4px 0px  0px var(--pixel-shadow-bot),
    0px 4px  0px var(--pixel-shadow-right),
    -4px 0px  0px var(--pixel-shadow-left),
    0px -4px  0px var(--pixel-shadow-top),
    0px 4px 10px var(--blue-shadow);
    text-shadow:
    0px 2px 4px #0006
    ;
}
.pixel-window>.title-bar:hover{
    -webkit-filter: none;
    filter: none;
}
.pixel-window>.title-bar>button{
    height: 32px;
    width: 32px;
    text-align: center;
}
.pixel-window>.title-bar>.title{
    display: inline-block;
    position: relative;
    margin: auto auto;
    width:100%;
    font-size: 1.2em;
}
.pixel-progress{
    float: right;
    font-family: "PixelEmulator";
    font-size: .9em;
    text-align: center;
    border-radius: 0px;
    border: none;
    text-decoration: none;
    margin: .5em 2em;
    padding: .5em;
    background-color: var(--button-bg);

    box-shadow: 
    -4px 0px var(--pixel-shadow-inset) inset,
    4px 0px  0px var(--pixel-shadow-bot),
    0px 4px  0px var(--pixel-shadow-right),
    -4px 0px  0px var(--pixel-shadow-left),
    0px -4px  0px var(--pixel-shadow-top),
    0px 4px 10px var(--blue-shadow),
    0px 5px 10px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);

}
.pixel-progress-bar{
    margin: 4px 8px 4px 4px;
    width: 1em;
    height: 150px;
    float: bottom;

    box-shadow: 
    -4px 0px var(--pixel-shadow-inset) inset,
    4px 0px  0px var(--pixel-shadow-bot),
    0px 4px  0px var(--pixel-shadow-right),
    -4px 0px  0px var(--pixel-shadow-left),
    0px -4px  0px var(--pixel-shadow-top),
    0px 4px 10px var(--blue-shadow),
    0px 5px 10px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);
}
.chat-font{
    font-family: "SFPixelate", sans-serif;
    line-height: 1.1em;
    color: var(--message-font);
}
.icon-box{
    height: 3em;
    width: 3em;
}

/*----- UI COLORING ----*/

.red-bg{
    background-color: var(--red-accent);
}



/*------- TITLE PAGE -------*/

.login-page{
    min-width: 375px;
    min-height: 667px;
    position: relative;
    display: inline-block;
    width: 100vw;
    height: 100vh;
    z-index: 9;
}
#login-page{
    text-align: center;
    justify-content: center;
    background: gold url(assets/images/stjohn_icon-sheet0.png) center no-repeat;
    background-position: bottom left;
    animation: 
        login-fade-in 1s ease-in-out
        ,bg-slide 75s linear infinite reverse;
    overflow: hidden;
    position: fixed;
}
#splash-container{
    margin: auto;
    position: absolute;
    min-width: 375px;
    top: 50%;
    left: 50%;
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
#title-info{
    position: relative;
    animation-name: title-top-down;
    animation-duration: 3s;
}
#game-title{
    font-family: "CyrillicPixel", serif;
    font-size: 4.25em;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0px auto;
    color: var(--gold-text);
    text-shadow: 0px -2px 0px rgb(255, 247, 153),
    0px 4px var(--dark-blue),
    0px 10px 4px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);
}
#game-subtitle{
    font-family: "CyrillicPixel", serif;
    font-size: 1.6em;
    position:relative;
    text-align: center;
    width: 90%;
    margin: .5em auto;
    color: var(--gold-text);
    text-shadow: 0px -2px 0px rgb(255, 247, 153),
    0px 3px 0px var(--dark-blue),
    0px 10px 4px var(--blue-shadow),
    0px 0px 15px var(--blue-shadow);
}
#name-entry{
    position: relative;
    text-align: center;
    align-items: center;
    margin: 3em auto 0px auto;
    display: grid;
    justify-items: center;
    animation-name: entry-bottom-up;
    animation-duration: 3s;
    width: 100%;
}
#max-message{
    font-family: "PixelEmulator";
    color: #CC2;
    text-shadow: -1px 0px 0px #000, 
                    1px 0px 0px #000,
                    0px -1px 0px #000,
                    0px 1px 0px #000;
}
#name-entry>input{
    padding: 1.2em;
    color: var(--main-font);
    margin: 1em;
    height: 20px;
    font-family: "SFPixelate";
    font-size: .9em;
    transition: transform 0.05s color 0.05s;
}
#name-entry>input:placeholder-shown{
    font-family: "PixelEmulator";
    font-size: .9em;
}
#name-entry>#username.max:focus{
    color: var(--gold-text);
    transition: color 0.05s;
    animation: invalid-input 0.05s infinite alternate;
}


#login{
    width: 40%;
}
#visit-container{
    position: fixed;
    bottom: 2em;
    text-align: center;
    width: 100%;
}
#visit{
    margin: auto;
    width: 200px;
    animation: none;
}

/*----- PLAY SCREEN-----*/



#background{
    position: fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#ground-level{
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    width: 100%;
    height: 100%;

}
#earth-map{
    position: fixed;
    object-fit: cover;
    z-index: -1;
    transition: all 1s ease-in-out;
}

/*---- DROP DOWN MENU ----*/

#play-menu{
    position: fixed;
    width: 300px;
    top: 50%;
    left: 50%;
    animation: menu-fade-in 0.2s;
    z-index: 8;
    background-color: #666e;
}
#game-progress-bar{
    background: linear-gradient(0deg, rgb(10,10,10) 25%, var(--button-bg) 25%);
    transition: background 2s ease-in-out;
    margin: 10px auto;
}
/*#menu-mute{ /*TODO*/
/*}*/
#play-menu-toggle{
    display: inline-block;
    position: absolute;
    right: 0%;
}
#play-menu-toggle>svg{
    height: 100%;
    width: 100%;
}

/*----- UI DOCK & CONTAINER ----*/

#ui-dock{
    position: absolute;
    bottom: 0%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
}

#ui-window-container{
    position: absolute;
    bottom: 3.5em;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}
#ui-window-container>.pixel-window:focus{
    background-color: var(--red-accent);
}



/*----- CHAT -----*/

.message{ /* Covers general system messages */
    font-family: "SFPixelate", sans-serif;
    text-align: left;
    color: #0006;
}
.message.player-chat{
    color: var(--message-font);
}
.message.system-err{
    color: #8008 
}
#chat-window-toggle>svg{
    height: 100%;
    width: 100%;
}

#chat-window{
    right: 0%;
    height: 29vh;
    z-index: 7;
}
#chat{
    height: calc(100% - 3.1em);
    width: 100%;
    overflow: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
}
#chat-client-area{
    position: relative;
    height: 100%;
}
#message-input{
    display: grid;
    position: absolute;
    grid-template-columns: 75% 25%;
    bottom: 0px;
    width: 100%;
}
#chat-input{
    width: 90%;
    text-align: left;
    font-family: "SFPixelate";
    font-size: 1em;
}
#chat-send{
    width: 90%;
}
#chat-exit{
    font-size: .9em;
    height: fit-content;
    width: auto;
    padding-right: 11px;
    position: absolute;
    top: -3px;
    right: -3px;
    
}

/*---- STEPS (LADDER QUOTES) ----*/

#steps-window{
    max-height: 33vh;
    z-index: 7;
}
#steps{
    overflow: scroll;
    overscroll-behavior: contain;
    scrollbar-width: none;
}
#steps-exit{
    font-size: .9em;
    height: fit-content;
    width: auto;
    padding-right: 11px;
    float: right;
}



/*---- DEBUG -----*/

#debug{
    position: fixed;
    width: 33%;
    bottom: 0px;
    z-index: 999;
    display: flex;
}

/* -----ANIMATION------*/

    /*------ UTILITY _-----*/

@keyframes invalid-input{
    0% {transform: translateX(-4px);}
    100% {transform: translateX(4px);}
}

@keyframes pulse-focus{
    0%   {background-color: #222; }
    100%   {background-color: #444; }
}

    /*------ TITLE PAGE ----*/
@keyframes title-top-down{
    0%   { top: -300px; opacity:   0%;}
    100% { top:    0px; opacity: 100%;}
}
@keyframes entry-bottom-up{
    0%   { top: 300px; opacity:   0%;}
    100% { top:   0px; opacity: 100%;}
}
@keyframes bg-slide{
    0%   {background-size: 175%; background-position: 95% 5%;}
    33%  {background-size: 150%; background-position: 5% 95%;}
    50%  {background-size: 125%; background-position: 95% 95%;}
    100% {background-size: 175%; background-position: 95% 5%;}
}
@keyframes bg-slide-high-dpr{
    0%   {background-size: 250%; background-position: 95% 5%;}
    33%  {background-size: 275%; background-position: 5% 95%;}
    66%  {background-size: 250%; background-position: 95% 95%;}
    100% {background-size: 250%; background-position: 95% 5%;}
}
@keyframes login-fade-in{
    0%    {opacity:   0%;}
    100%  {opacity: 100%;}
}

    /*----- DROP DOWN MENU -----*/

@keyframes menu-fade-in {
    0%   { top:     50%; opacity:   0%;}
    100% { top:    50%; opacity: 100%;}
}



/*----- MEDIA ADJUSTMENTS -----*/

@media (width < 600px){


    #game-title{
        margin: 0vh 0px 0px 0px;
    }

    #login-page{
        animation: bg-slide-high-dpr 75s linear infinite reverse ;
    }
    

    #play-menu-toggle{
        top: 0%;
        right: 0%;
    }
    #chat-window{
        box-sizing: border-box;
        width: calc( 100% - 14px );
        left: 0%;
    }
    #chat-window-toggle{
        right: 0%;
    }

    #debug{
        position: relative;
    }
    


}

/*----- COLOR VARIABLES ------*/

svg{
    fill:var(--main-font);
}

:root{
    --gold-text: rgb(241, 220, 151);
    --dark-blue: #224;
    --red-accent: #934;
    --main-font: #ccc;
    --message-font: #000;
    --blue-shadow: #13292a8f;
    --button-bg: #333;
    --pixel-shadow-inset: #fff1;
    --pixel-shadow-left: #222;
    --pixel-shadow-right: #222;
    --pixel-shadow-bot: #111;
    --pixel-shadow-top: #222;
    --window-bg: #aaac;
    --menu-dark-col333dor: #225;
}


